

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container { background: rgba(255, 255, 255, .75); }
.navbar-default .navbar-brand { font-weight: bold; color: rgb(60,27,40); text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
.navbar-default .navbar-nav > li > a { font-weight: bold; color: rgb(60,27,40); text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
.navbar-default .navbar-nav > li > a:hover { background: rgba(199, 36, 58, .4); }
.navbar-default .navbar-fixed-bottom { background: black; }
body { background: rgb(255, 169, 0); }
html, body { height: 100%; }
nav.navbar { background: rgba(103, 107, 4, .5); border-color: rgb(103, 107, 4); }
header { padding-top: 1em; }
#content.container { overflow: auto; padding-bottom: 8em; }
#wrapper { min-height: 100%; height: auto; margin-bottom: -8em; }
.footer { height: 8em; background: #303030; clear: both; }
.footer > .container { padding: 1em; }
#categories > li > a { height: 1.5em; }
