{% extends 'layout.html' %}
{% from '_formhelpers.html' import registration_form %}
{% block title %}{{ article[0].seo_title }}{% endblock title %}
{% block meta_keywords %}{{ article[0].seo_keyword }}{% endblock meta_keywords %}
{% block meta_description %}{{ article[0].seo_description }}{% endblock meta_description %}
{% block content %}
<style>
  .item > div > p { mask: url(#fade-mask); }
</style>

<div class='row'>
    <div class='col-md-6'>
        <div id="carousel-features" class="carousel slide" data-ride="carousel" data-interval=false>
            <!-- Title and Controls -->
            <div class='carousel-header'>
                <b>Featuring</b>
                <span>
                    <a href="#carousel-features" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#carousel-features" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </span>
            </div>
            <!-- Wrapper for slides -->
            <div class='carousel-inner'>
                <div class='item active'>
                    <div>
                        {% if article[0] %}
                        <b>{{ article[0].seo_title }}</b>
                        {{ article[0].fold|markdown }}
                        {% else %}
                        Welcome
                        {% endif %}
                        <a href='{{ url_for('games') }}' class='btn btn-default btn-danger'>Games</a>
                        <a href='{{ url_for('images') }}' class='btn btn-default btn-danger'>Images</a>
                        <a href='{{ url_for('videos') }}' class='btn btn-default btn-danger'>Videos</a>
                    </div>
                </div>
                {% for feature in featured %}
                <div class="item" style="background-image: url({{ url_for('static', filename=feature.thumbnail) }})">
                    <div>
                        {% if feature.article %}
                        {% if feature.article[0] %}
                        <b><a href='{{ url_for('games.play', game_name=feature.slug) }}'>{{ feature.article[0].title }}</a></b>
                        {{ feature.article[0].fold|markdown }}
                        <a href='{{ url_for('games.play', game_name=feature.slug) }}' class='btn btn-default btn-danger'>Play Now!</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='col-md-6' style='padding-top: 0.5em;'>
        {% if is_logged_in() %}
        {{ welcome_user|markdown }}
        {% else %}
        <b>Register Now!</b>
        <br>
        {{ registration_form(registration) }}
        {% endif %}
    </div>
</div>
<br>
<div class='row'>
    {% for feature in featured %}
    <div class='col-md-4' style='background-image: url({{ url_for('static', filename=featured.thumbnail) }})'>
        {{ feature }}
    </div>
    {% endfor %}
    <div class='col-md-4'>
        <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:250px"
            data-ad-client="ca-pub-0510803526364802"
            data-ad-slot="8649486357"></ins>
    </div>
</div>
<h1>{{ article[0].title }}</h1>
{% if article[0] %}
{{ article[0].cut|markdown }}
{% endif %}
<svg height='0'>
    <mask id='fade-mask' maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <linearGradient id="gradient" gradientUnits="objectBoundingBox" x2="0" y2="1">
            <stop class="begin" offset="0"/>
            <stop class="middle" offset="0.8"/>
            <stop class="end" offset="1"/>
        </linearGradient>
        <rect x="0" y="0" width="100" height="1" style="fill:url(#gradient)" />
    </mask>
</svg>
{% endblock content %}
