{% extends 'page.html' %}
{% block title %}{{ article.seo_title }}{% endblock title %}
{% block meta_keywords %}{{ article.seo_keywords }}{% endblock meta_keywords %}
{% block meta_description %}{{ article.seo_description }}{% endblock meta_description %}
{% block content %}
    {% if article %}
        <h1>{{ article.title }}</h1>
        {% if game %}
        <center>
            {{ game.content|safe }}
        </center>
        <br>
        {% endif %}
        {{ article.fold|markdown }}
        {{ article.cut|markdown }}
    {% endif %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- slymoose leader -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px;"
        data-ad-client="ca-pub-0510803526364802"
        data-ad-slot="4530671154"></ins>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% endblock %}
