{% extends 'layout.html' %}
{% from '_formhelpers.html' import render_field %}

{% block content %}
<form method='POST'>
    <dl class='form-group'>
        {{ registration.csrf_token }}
        {{ render_field(registration.email, class='form-control') }}
        {{ render_field(registration.username, class='form-control') }}
        {{ render_field(registration.password, class='form-control') }}
        {{ render_field(registration.confirm, class='form-control') }}
        {{ render_field(registration.accept_tos, class='form-control') }}
    </dl>
    <p><input type='submit' class='btn btn-default btn-small' value='Register'></p>
</form>
{% endblock content %}
