{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class='errors list-unstyled'>
    {% for error in field.errors %}
      <li><span class='label label-danger'>{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_login(field) %}
  <div class='form-group'>
      {{ field.label(class_='sr-only') }}
      {{ field(**kwargs)|safe }}
  </div>
  {% if field.errors %}
    <ul class='errors list-unstyled'>
    {% for error in field.errors %}
      <li><span class='label label-danger'>{{ error }}</span></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro registration_form(form) %}
<form class='registration' action='{{ url_for('register') }}' method='POST'>
    <dl class='form-group'>
        {{ form.csrf_token }}
        <div class='row'>
            <div class='col-md-offset-1 col-md-10'>
                <div class='row well'>
                    <div class='row'>
                        <div class='col-md-6'>
                            {{ render_field(form.username, class='form-control input-sm') }}<br>
                            {{ render_field(form.password, class='form-control input-sm') }}
                        </div>
                        <div class='col-md-6'>
                            {{ render_field(form.email, class='form-control input-sm') }}<br>
                            {{ render_field(form.confirm, class='form-control input-sm') }}
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-12' style='margin-top: 1em;'>
                            <input type='submit' class='btn btn-default btn-sm' value='Register'>
                            {{ form.accept_tos(class='form-control input-sm tos', style='display: inline; margin: 0 0.5em; margin-bottom: 2px;') }}{{ form.accept_tos.label }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
</form>
{% endmacro %}
